<html>
<head>
    <title>
        {%  block sub_title '' %} {%  block title 'Outfitter' %}
    </title>
</head>
<body>
    <h1>Outfitter</h1>
    {% block body %}
        Welcome to Outfitter.
    {% endblock %}
</body>
</html>